.container{
    min-height: 100vh;
    width: 100%;
}

.school{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.school div{
    padding: 1em 0;
}

.school div h2{
    font-size: large;
}

.courses{
    display: flex;
    flex-wrap: wrap;
}

.course{
    background-color: blanchedalmond;
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 10px;
    cursor:pointer;
}
