<div class="wrapper container">
  <div class="content">
    <h1 class="section-heading"> Education </h1>

    <div class="school" *ngFor="let school of schools">
      <div>
        <h2> {{school.name | uppercase}} </h2>
        <div class="courses">
          <span class="course" *ngFor="let course of school.keyCourses">{{course}}</span>
        </div>
      </div>
      <div class="details">
        <p> Degree: {{school.degree}}</p>
        <p> Major: {{school.major}}</p>
        <p> Duration: {{school.startDate}} - {{school.endDate}} </p>
      </div>
    </div>
  </div>
</div>