@import url('../../styles.css');
nav{
    display: flex;
    background-color:var(--light-bg-red);
    align-items: center;
}

.name{
    margin:20px;
    color: var(--main-bg-white);
    font-family: 'Caveat', cursive;
    font-size: 1.6em;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    text-transform: none;
}

.name:hover{
    color: var(--main-bg-red);
}

.contact{
    position: absolute;
    right: 20px;
}

a{
    background-color: var(--main-bg-white);
    color: var(--main-bg-red);
    text-transform: uppercase;
    font-weight: bold;
}

