h1{
    font-size: 50px;
    color: #424B54;
    line-height: 2em;
    letter-spacing: 0.1em;
}

mat-card{
    margin: 1em;
    width: 200px;
    height: 75px;
}

a{
    padding: 5px;
    text-decoration: none;
}

.container div{
    display: flex;

    flex-wrap: wrap;

}


