@import url('../../styles.css');

mat-card{
    margin: 1em;
    width: 200px;
    height: 75px;
    background:rgb(255, 255, 255, 0.8);
    color: black;
}

a{
    padding: 5px;
    text-decoration: none;
    color: tomato;
}

.container div{
    display: flex;

    flex-wrap: wrap;

}


