@import url('../../styles.css');

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.splash{
    font-size: 36px;
    font-style: italic;
    animation: blink 1.5s linear infinite;
    color: var(--bg-black);
    font-family: 'Caveat', cursive;
}

@keyframes blink {
    75% {
      opacity: 0;
    }
  }
