@import url('../../styles.css');

.navbar{
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    list-style: none;
    background-color: var(--light-bg-red);
    z-index: 102;
    justify-content: space-around;
    padding: 5px 40px;
    border-radius: 30px;
}

.menu{
    visibility: hidden;
}

.nav-list li{
    margin:15px
}

.nav-list li a{
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    cursor: pointer;
}

a:hover, .active {
    color: var(--main-bg-white);
}

@media only screen and (max-width: 600px) {

    .mobile-open  .nav-list{
        height: 100%;
        visibility: visible;
        
    }

    .nav-list{
        height: 0;
        visibility: hidden;
        flex-direction: column;
        border-radius: 30px 30px 0 30px;
        background-color: var(--main-bg-red);
        transition: height 1s ease-in-out;
    }

    .menu{
        visibility: visible;
        text-align: center;
        float: right;
        margin: 0 20px 20px 0;
        background-color: var(--main-bg-red);
        padding: 10px;
        border-radius: 20px;
        box-shadow: 3px 3px 5px var(--light-bg-red);
    }

    .fa{
        font-size: 32px;
        color: var(--main-bg-white);
        transition: all 0.7s ease;
    }

    .open .fa{
        transform: rotate(180deg);
    }


  }