.container div{
    display: flex;
    flex-wrap: wrap;
}

a{
    margin: 1.5em;
    text-decoration: none;
    align-items: center;
    box-shadow: 10px black;
}

img{
    display: block;
    max-height:5em;
    max-width: 5em;
    object-fit: contain;
}