.container{
    background-color: var(--bg-black);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content{
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    position:relative;
}

.section-heading{
    color: var(--bg-yellow);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card{
    position: relative;
    margin: 20px;
    padding: 30px;
    width: 250px;
    height: 200px;
    text-align: center;
    background-color: whitesmoke;
}

.card{
    position: absolute;
    top:0;
    left: 0;
    height: 80%;
    transition: 1s all ease-in-out;
}

.card:hover{
    opacity: 0;
}

.content{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 0;
    transition: 0.5s;
    background-color: var(--bg-yellow);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card:hover .content{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

mat-card-header{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-content{
    height: 50%;
    position: relative;
}

mat-card-content .tags{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin: 1.5em;
    text-decoration: none;
    align-items: center;
}

img{
    max-height:5em;
    max-width: 5em;
    object-fit: contain;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    background-color: blanchedalmond;
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 10px;
    cursor:pointer;
}

.content li{
    text-align: justify;
    padding: 10px;
    list-style: circle;
}