<div class="container">
  <div class="container-content">
    <h1 class="section-heading"> Projects </h1>
    <div class="flex">
      <mat-card *ngFor="let project of projects" [@slideDisplay]="isSlide">
        <div class="card">
          <mat-card-header>
            <img src="{{project.logo}}">
          </mat-card-header>
          <mat-card-content>
            <h1>{{project.name}}</h1>
            <div class="tags">
              <div class="flex">
                <span class="tag" *ngFor="let tag of project.tags">{{tag}}</span>
              </div>
            </div>
          </mat-card-content>
        </div>
        <div class="content">
          <div>
            <h2> Project Info </h2>
            <mat-card-actions>
              <a mat-raised-button href="{{project.link}}" target="_blank"> View Project </a>
              <a mat-raised-button (click)="openInfo(project)"> View Project Info</a>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>