<div class="container">
  <h1 class="section-heading"> Projects </h1>
  <div class="flex">
    <mat-card *ngFor="let project of projects" [@slideDisplay]="isSlide">
      <mat-card-header>
        <img src="{{project.logo}}">
      </mat-card-header>
      <mat-card-content>
        <h2>{{project.name}}</h2>
        <div class="flex">
          <span class="tag" *ngFor="let tag of project.tags">{{tag}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="{{project.link}}" target="_blank"> View Project </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>