@import url('../../styles.css');


.section-heading{
    color: var(--bg-black);
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 60px 20px;
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form{
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.field{
    display: block;
    width: 100%;
}

button{
    background-color: var(--main-bg-red);
    color: var(--main-bg-white);
    border-radius: 10px;
}

.message-icon {
    padding: 25px;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
}

.message-icon img{
    width: 100%;
    height: auto;
    border: 5px dashed #556080;
    border-radius: 50%;

}