.container{
    margin: 0 5em;
    max-height: 100%;
}

h1{
    font-size: 50px;
    color: #424B54;
    line-height: 2em;
    letter-spacing: 0.1em;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 150px;
    max-width: 150px;
    background-size: contain;
}
