.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/bg-tech.png') no-repeat center center fixed;
    background-size: cover;
  }

  .container div{
    padding: 40px 20px;
    padding-top: 60px;
    text-align: center;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
.skills{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

img{
    max-width:90%;
    max-height:90%;
}

.section-heading{
  color: var(--bg-yellow);
}

@media only screen and (max-width: 800px) {

  .container{
    flex-direction: column;
    text-align: center;
  }
}