<app-header class="header" (sectionEvent)="changeSection($event)"></app-header>
<div class="flex">
  <!-- <div class="sidebar" *ngIf="sidebarVisible" @inOutAnimation>
    <app-sidebar [activeSection]="currentSection" (sectionEvent)="changeSection($event)">
    </app-sidebar>
    <button mat-button class="fa fa-times" (click)="closeSideBar()"> </button>
  </div> -->
  <div class="main-content" id="main" (scroll)="keepTrack()">
      <app-profile id="profile" class="wrapper"></app-profile>

      <app-technologies id="technologies" class="wrapper"></app-technologies>

      <app-blogs id="blogs" class="wrapper"></app-blogs>

      <app-projects id="projects" class="wrapper"></app-projects>

      <app-education id="education" class="wrapper"></app-education>

      <app-contact id="contact" class="wrapper"></app-contact>
  </div>
</div>

<app-navbar class="navbar" (sectionEvent)="changeSection($event)"></app-navbar>
<!-- <button mat-button class="fa fa-bars" *ngIf="!sidebarVisible" (click)="openSidebar()"> </button> -->

<div class="socialMedia">
  <div class="follow">Follow Me</div>
  <div class="icons">
    <a class="media fa fa-linkedin" href="https://www.linkedin.com/in/saikiran1298/" target="_blank"></a>
    <a class="media fa fa-medium" href="https://saikiran1298.medium.com" target="_blank"></a>
  </div>
</div>