@import url('../styles.css');

.header{
    position: fixed;
    width: 100%;
    z-index: 101;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 102;
    bottom:0;
    max-height: 400px;
}

.main-content{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.wrapper{
    min-height: 100vh;
}

/**
------------------
Social Media Icons on the right
------------------
*/

.socialMedia{
    position: fixed;
    color: grey;
    z-index: 101;
    height: 250px;
    top:40%;
    left: -5%;
}

.socialMedia .follow{
    width: 105px;
    font-size: 20px;
    transform: rotate(90deg);
}

.follow::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 1;
    border-bottom: 3px solid;
}

.icons{
    position: absolute;
    bottom: 10px;
    right:40%;
}

.media{
    display: block;
    text-decoration: none;
    color: grey;
    margin: 10px 0;
    transition: ease-in-out 0.3s;
}

.media:hover{
    transform: scale(1.3);
}