@import url('../styles.css');

.header{
    position: fixed;
    width: 100%;
    z-index: 101;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 101;
    bottom:0;
    max-height: 400px;
}

.main-content{
    width: 100%;
    height: 100vh;
    background: var(--main-bg-white);
    overflow-y: scroll;
}

.wrapper{
    min-height: 100vh;
    display: block;
    padding: 80px 20px 50px;
}

#profile{
   background: linear-gradient(var(--light-bg-red), var(--main-bg-white));
}

#technologies{
background-color: #FFEEDD;
}

#blogs{
    background-size:cover;
    background-repeat: no-repeat;
}

#projects{
    background-color: #BFD8BD;
}

#education{
    height: 100%;
    background-image: url('../assets/images/pencil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#contact{
    width: 100%;
}

/**
------------------
Social Media Icons on the right
------------------
*/

.socialMedia{
    position: fixed;
    color: grey;
    z-index: 101;
    height: 200px;
    top:50%;
    right: 0%;
}

.socialMedia .follow{
    width: 90px;
    font-size: 18px;
    transform: rotate(90deg);
}

.follow::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 1;
    border-bottom: 2px solid;
}

.icons{
    position: absolute;
    bottom: 0;
    right:40%;
}

.media{
    display: block;
    text-decoration: none;
    color: grey;
    margin: 10px 0;
    transition: ease-in-out 0.3s;
}

.media:hover{
    transform: scale(1.3);
}