<div class="content" *ngIf="splashOpen">
  <app-splash-screen></app-splash-screen>
</div>

<div class="content" *ngIf="!splashOpen">
  <div class="header">
    <app-header (sectionEvent)="changeSection($event)"></app-header>
  </div>

  <div class="navbar">
    <app-navbar class="navbar" (sectionEvent)="changeSection($event)"></app-navbar>
  </div>

  <div class="main-content"(scroll)="keepTrack()">
    <app-profile id="profile" class="wrapper"></app-profile>

    <app-technologies id="technologies" class="wrapper"></app-technologies>

    <app-blogs id="blogs" class="wrapper"></app-blogs>

    <app-projects id="projects" class="wrapper"></app-projects>

    <app-education id="education" class="wrapper"></app-education>

    <app-contact id="contact" class="wrapper"></app-contact>
  </div>
</div>