@import url('../styles.css');

.header{
    width: 100%;
    height: 60px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 102;
    bottom:0;
    max-height: 400px;
}

.main-content{
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: auto;
}