.container{
  height: 100%;
  width: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


.profile{
  width: 350px;
  padding: 30px 0;  
  text-align: center;
}

img{
  height: 400px;
  top: 0;
  right: 40%;
}

.intro{
    font-size: 18px;
    width: 32ch;
    height: 30px;
    animation: typing 3s steps(32), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
}

.description{
  font-size: large;
}

.section-heading{
  text-align: center;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }