.container{
  min-height: calc(100vh - 50px);
  padding: 50px 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-black)
}

.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 100%;
}

.image{
  width: 40%;
  text-align: center;
  margin-bottom: auto;
  z-index: 5;
}

img{
  background-size: cover;
  height: 80vh;
  z-index: 100;
}


.profile{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile div{
  max-width: 600px;
  text-align: center;
  align-items: center;
}

.skill{
  font-size: 24px;
  color: var(--bg-yellow);
  text-decoration: underline;
  letter-spacing: 3px;
  padding: 20px 0;
}

.name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro{
    font-size: 24px;
    padding: 20px 0;
    font-weight: bolder;
    color: #FFF4E4;
    width: 16ch;
    height: 30px;
    animation: typing 3s steps(16), blink 0.2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.description{
  font-size: 20px;
  color: #CFD8D7;
  padding: 20px 0;

}

.yellow-block-top, .yellow-block-bottom{
  height: 250px;
  width: 250px;
  background-color: var(--bg-yellow);
  border-radius: 50px;
}

.yellow-block-top{
  transform: rotate(45deg);
  position:absolute;
  top:-15%;
  left:-5%;
  overflow:hidden;
}

.yellow-block-bottom{
  transform: rotate(45deg);
  position:absolute;
  bottom:-15%;
  left:-5%;
  overflow:hidden;
}

@media only screen and (max-width: 1200px) {

  .flex{
    flex-direction: row;
    justify-content: space-between;
  }

  .image{
    width: 100%;
    height: 50%;
  }

  .profile{
    height: 50%;
    justify-content: start;
  }

  img{
   max-width: 300px;
   max-height: 300px;
   object-fit: cover;
  }
  
  .yellow-block-top, .yellow-block-bottom
  {
    height: 200px;
    width: 200px;
  }

  .yellow-block-top{
    transform: rotate(90deg);
    left: auto;
    right: -50px;
    top: 15%;
  }

  .yellow-block-bottom{
    transform: rotate(90deg);
    right: auto;
    left: -50px;
    top: 15%;
  }



}