/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --main-bg-red:#503D42;
    --main-bg-white:#F5FBEF;
    --light-bg-red: rgba(80, 61, 66, 0.4)
}

html, body { height: 100%; }
body { 
    margin: 0; 
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Caveat', cursive;
}

.section-heading{
    font-size: 50px;
    color: var(--main-bg-red);
    line-height: 2em;
    letter-spacing: 0.1em;
}
